header {
  background-color: blueviolet;
  border: 3px solid rgb(104, 33, 170);
  padding: 20px;
}

nav, a{
  text-decoration: none;
  color: rgb(255, 215, 0);
  font-size: 30px;
  margin-left: 16px;
}

input {
  margin-top: 10px;
  width: 200px;
  height: 25px;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding-left: 10px;
}

input::placeholder {
  color: rgb(200, 200, 200);
}

label {
  margin-right: 100px;
}